h1, h1 a {
    color: #0aa456;
    font-family: 'Lobster';
    text-align: center;
}

h2, h2 a {
    color: #0aa456;
    font-family: 'Lobster';
}

a:hover, a:visited {
  text-decoration: none;
  color: #0aa456;
}



.container {
	width:100%;
}

.w-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.card-subtitle {
	font-size:12px;
}
.card-body{
	padding:2%;
}