h1, h1 a {
    color: #0aa1a4;
    font-family: 'Lobster';
    text-align: center;
}

h2, h2 a {
    color: #0aa1a4;
    font-family: 'Lobster';
}

a:hover, a:visited {
  text-decoration: none;
  color: #0aa1a4;
}



.container {
	width:100%;
}

.card-header {
  margin-top:0px;
}

.card-subtitle {
	font-size:12px;
}
.card-body{
  padding:2%;
}