
{% load static %}

{% with 'pokecode/'|add:truePannel.image.url as image_url %}
	<img src="{% static image_url %}" style="width:100px;height:100px"/>
{% endwith %}
<br/>
{% with 'pokecode/'|add:truePannel.music.url as music_url %}
	<audio controls>	
		<source src="{% static music_url %}" type="audio/wav">
		Your browser does not support the audio element.
	</audio>
{% endwith %}
<br/>
<form method="POST">
	{% csrf_token %}
	{{ form }}
	<button type='submit'>Envoyer</button>
</form>
data = {{data}}
<br/>
compteur = {{compteur}}
<br/>
{{truePannel}}

